.header-section {
  margin-top: 50px;
  position: relative;
  margin-inline: 40px;
  padding: 20px;
  background-color: rgb(255, 165, 0, 0.5);
  border-radius: 30px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.header-internal-secton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40%;
  height: 70px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.5));
}

.header-internal-secton > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255);
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0, 100% 84%, 50% 100%, 0 84%);
}

.header-internal-secton p {
  text-align: center;
  color: black;
}

.body-section {
  background-image: url("./image/japan2.png");
  background-size: 75% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-inline: 40px;
}

.head {
  background-color: orange;
  font-size: 18px;
  text-align: center;
  color: white;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 5px;
}

.text {
  border-radius: 8px;
  background-color: rgb(233, 233, 233);
  border: 1px solid black;
  font-size: 18px;
  text-align: center;
  color: black;
  padding: 10px;
  margin-block: 0;
}

.outer-section {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.inner-section {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.section-two .inner-section {
  justify-content: flex-start;
  padding-top: 50px;
}

.margin-right {
  margin-left:80px;
}

.sub-section {
  display: flex;
  align-items: flex-end;
}

.text-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
}

.first-section {
    width: 50%;
}